.scroll {
    &._hidden {
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    }
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}