h2,
.h2  {
    font-size: clamp(24px, 2.6vw, 50px);
    font-weight: 500;
    padding: 0;
    margin: 0;
}

h3,
.h3 {
    font-size: clamp(18px, 1.25vw, 24px);
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.text-small {
    font-size: clamp(16px, 1.04vw, 20px);
}

.text-big {
    font-weight: 500;
    font-size: clamp(18px, 2.29vw, 44px);
    line-height: 120%;
}

.text-gray {
    color: $color_gray;
}

.text-medium {
    font-weight: 500;
}

.text-red {
    & span {
        color: $color_red;
    }
}

.text {
    & p,
    & ul,
    & ol,
    & table,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin-bottom: clamp(20px, 1.04vw, 30px);

        &:last-child {
            margin-bottom: 0;
        }
    }

    & a {
        color: $color_red;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        font-size: clamp(18px, 1.56vw, 30px);
        font-weight: 500;
    }

    h3 {
        font-size: clamp(18px, 1.25vw, 24px);
        font-weight: 500;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}