.footer {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    &__top {
        padding: clamp(40px, 5.2vw, 100px) 0 clamp(30px, 3.12vw, 60px);
        position: relative;
        overflow: hidden;
    }

    &__middle {
        padding: clamp(40px, 3.12vw, 60px) 0;
        border-top: 1px solid $color_dark_gray;
        border-bottom: 1px solid $color_dark_gray;
    }

    &__bottom {
        padding: 40px 0;
    }

    &__contacts {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: clamp(30px, 3.12vw, 60px) clamp(30px, 2.08vw, 40px);

        @media (max-width: 767px) {
            display: grid;
            grid-template-columns: 1fr 1fr;   
        }

        @media (max-width: 575px) {
            grid-template-columns: 1fr;
        }
    }

    &__contact {
        width: 23.5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: clamp(15px, .78vw, 20px);
        margin: 0;

        @media (max-width: 767px) {
            width: unset;
        }
 
        &._full {
            width: 75%;

            @media (max-width: 767px) {
                width: unset;
                grid-column: 1;
                grid-row: 2;
            }

            @media (max-width: 575px) {
                grid-row: 3;
            }
        }

        &-title {
            color: $color_gray_blue;
            margin: 0;
        }

        &-value {
            font-size: clamp(18px, 1.82vw, 35px);
            margin: 0;
        }

        &-link {
            color: currentColor;
            text-decoration: none;
        }
    }

    &__btn {
        margin-top: clamp(30px, 3.12vw, 60px);
    }

    &__wave {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 46vw;
        height: auto;
        bottom: -7vw;

        @media (max-width: 767px) {
            right: -15vw;
        }

        @media (max-width: 575px) {
            right: -20vw
        }
    }

    &__navs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: clamp(40px, 3.12vw, 60px);
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px clamp(20px, 3.12vw, 60px);

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }

        & a {
            color: $color_gray;
            text-decoration: none;

            &:hover {
                @media (min-width: 992px) {
                    color: $color_red;
                }
            }
            
            &._active {
                color: $color_red;
            }
        }
    }
}