.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(40px, 3.12vw, 60px) 40px;
        align-items: start;
        margin-bottom: clamp(40px, 3.12vw, 60px);
        width: 100%;

        @media (max-width: 991px) {
            grid-template-columns: 1fr !important;
        }

        &._cols3 {
            grid-template-columns: repeat(3, 1fr);

            & .form__fieldset {
                &._full {
                    @media (min-width: 992px) {
                        grid-column: span 3;
                    }
                }
            }
        }

        &._site {
            max-width: 900px;
        }
    }

    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: clamp(15px, 1.56vw, 30px);

        &._full {
            @media (min-width: 992px) {
                grid-column: span 2;
            }
        }
    }

    &__label {
        &._orange {
            color: $color_orange !important;
        }
    }

    &__input {
        width: 100%;
        background: none;
        border: 0;
        border-radius: 0 !important;
        color: $color_gray_blue;
        font-size: clamp(16px, 1.56vw, 30px);
        padding-bottom: clamp(15px, 1.04vw, 20px);
        border-bottom: 1px solid $color_gray_blue;
        transition: .5s ease-in-out;

        &::placeholder {
            color: $color_gray_blue;
        }

        &::-moz-placeholder {
            color: $color_gray_blue;
        }

        &::-webkit-input-placeholder {
            color: $color_gray_blue;
        }

        &._active {
            border-color: $color_black;
            color: $color_black;
        }

        &.is-invalid {
            border-color: $color_red;
    
            &::-moz-placeholder {
                color: $color_red !important;
            }
    
            &::-webkit-input-placeholder {
                color: $color_red !important;
            }
    
            &:-ms-input-placeholder {
                color: $color_red !important;
            }
        }
    }

    &__submit {
        margin-bottom: 40px;

        @media (max-width: 575px) {
            width: 100%;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

    &__checkbox {
        &-input {
            display: none;

            &:checked {
                & + .form__checkbox-label {
                    & .form__checkbox-check {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &-label {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 20px;
            color: $color_gray;
            font-size: clamp(14px, .83vw, 16px);

            & a {
                color: currentColor;
                text-decoration: underline;

                &:hover {
                    @media (min-width: 992px) {
                        text-decoration: none;
                        color: $color-red;
                    }
                }
            }
        }

        &-check {
            min-width: 20px;
            max-width: 20px;
            height: 20px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border: 1px solid $color_gray;

            &::after {
                content: '';
                width: 10px;
                height: 5px;
                border-left: 1px solid $color_gray;
                border-bottom: 1px solid $color_gray;
                transform: rotate(-45deg) translateX(1px) translateY(-1px);
                transition: .5s ease-in-out;
                opacity: 0;
            }
        }
    }

    &__btns {
        display: flex;
        gap: 20px;

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 30px;
            width: 100%;
        }
    }

    &__attachment {
        &-input {
            display: none;
        }

        &-label {
            cursor: pointer;
            text-align: left;

            & svg {
                min-width: clamp(20px, 1.25vw, 24px);
                max-width: clamp(20px, 1.25vw, 24px);
            }
        }
    }
}

body._black,
.section._black {
    & .form {
        & .form__label {
            color: $color_gray_blue;
        }

        & .form__input {
            color: $color_gray;

            &::placeholder {
                color: $color_gray;
            }
    
            &::-moz-placeholder {
                color: $color_gray;
            }
    
            &::-webkit-input-placeholder {
                color: $color_gray;
            }

            &._active {
                border-color: $color_white;
                color: $color_white;
            }
        }
    }
}