.home-pluses {
    position: relative;

    &__text {
        font-size: clamp(18px, 2.29vw, 44px);
        font-weight: 500;
        margin-bottom: clamp(30px, 2.08vw, 40px);
        width: 90%;
    }

    &__items {
        display: flex;
        align-items: flex-start;
        gap: clamp(30px, 4.17vw, 80px);

        @media (max-width: 575px) {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: $color_red;
        margin: 0 0 clamp(5px, .52vw, 10px);
    }

    &__wave {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 15.46vw;
        height: auto;

        @media (max-width: 575px) {
            width: 56vw;
            right: -5vw;
        }
    }
}