.intro {
    padding: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

    &__content {
        padding: clamp(40px, 6.77vw, 130px) 0 clamp(30px, 11.97vw, 230px);
        display: flex;
        flex-direction: column;
        width: 50%;
        position: relative;
        z-index: 3;

        @media (max-width: 1199px) {
            width: 60%;
        }

        @media (max-width: 991px) {
            width: 100%;
            padding-bottom: clamp(137px, 17.75vw, 176px);
        }
    }

    &__title {
        font-size: clamp(30px, 3.64vw, 70px);
        font-weight: 500;
        margin: 0 0 clamp(30px, 2.08vw, 40px);
        padding: 0;
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: clamp(20px, 1.56vw, 30px);

        @media (max-width: 575px) {
            flex-direction: column;
            align-items: stretch;
            max-width: 255px;
        }
    }

    &__wave-wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 58%;

        @media (max-width: 991px) {
            position: absolute;
            width: 140%;
            bottom: -35vw;
        }

        @media (max-width: 575px) {
            bottom: -27vw;
        }

        @media (max-width: 420px) {
            bottom: -18vw;
        }
    }

    &__wave {
        width: 100%;
        height: auto;

        @media (max-width: 991px) {
            transform: rotate(30deg);
        }

        &._gradient {
            z-index: 2;
            animation: wave_gradient 4s ease-in-out infinite;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

@keyframes wave_gradient {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}