.seo-categories {
    position: relative;
    display: flex;

    & .container {
        position: relative;
        z-index: 2;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: clamp(20px, 2.08vw, 40px);
        font-size: clamp(18px, 3.64vw, 70px);
        font-weight: 500;
        counter-reset: list;
    
        & a {
            color: $color_gray;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: clamp(15px, 2.96vw, 57px);

            @media (max-width: 991px) {
                color: $color_white;
    
                &::before {
                    color: $color_red;
                }
            }
    
            &:hover {
                @media (min-width: 992px) {
                    color: $color_white;
    
                    &::before {
                        color: $color_red;
                    }
                }
            }
    
            &::before {
                counter-increment: list;
                content: '0' counter(list);
                font-size: clamp(18px, 2.29vw, 44px);
                transition: .5s ease;
            }
        }
    }

    &__wave {
        position: absolute;
        height: 100%;
        width: auto;
        top: 0;
        right: 0%;
        z-index: 1;

        @media (max-width: 767px) {
            right: -20%;
        }

        @media (max-width: 575px) {
            right: -45%;
        }
    }
}