footer.footer.section._black._radius._pt0._pb0
    .footer__top(data-aos="fade-up")
        .container
            h2.section__title Контакты
            .footer__contacts
                address.footer__contact
                    p.footer__contact-title.text-small Телефон
                    a.footer__contact-value.footer__contact-link(href="tel:+78463796226") +7 846 379-62-26

                address.footer__contact
                    p.footer__contact-title.text-small Почта
                    a.footer__contact-value.footer__contact-link(href="mailto:info@tehotdel.ru") info@tehotdel.ru

                address.footer__contact
                    p.footer__contact-title.text-small Соц. сети
                    a.footer__contact-value.footer__contact-link(href="https://vk.com/" target="_blank" rel="nofollow") VK

                address.footer__contact._full
                    p.footer__contact-title.text-small Адрес
                    p.footer__contact-value г. Самара, 5-я просека, 110Е / оф. 309

            .footer__wrap-btn
                button.footer__btn.btn.btn-reset._white-bordered(type="button" data-modal="#modal-order") Обсудить проект
                    svg(width="31" height="8")
                        use(xlink:href="@img/icons/icons.svg#arrow-right")

        svg.footer__wave(width="887" height="678")
            use(xlink:href="@img/icons/icons.svg#footer-wave")

    .footer__middle(data-aos="fade-up")
        .container.footer__navs
            nav.footer__nav
                h3.footer__nav-title Услуги
                ul.footer__list.list-reset
                    li
                        a._active(href="#") Комплексный маркетинг
                    li
                        a(href="#") Разработка сайтов
                    li
                        a(href="#") SEO-продвижение
                    li
                        a(href="#") Аудит сайтов
                    li
                        a(href="#") Контекстная реклама
                    li
                        a(href="#") Продвижение в соц. сетях

            nav.footer__nav
                h3.footer__nav-title О компании
                ul.footer__list.list-reset
                    li
                        a(href="#") Портфолио
                    li
                        a(href="#") Кейсы
                    li
                        a(href="#" target="_blank") Презентация PDF
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Награды
                    li
                        a(href="#") Отзывы
                    li
                        a(href="#") Вакансии
                    li
                        a(href="#") Политика конфиденциальности

    .footer__bottom
        .container.footer__bottom-container
            .text-small © 2023 Tehotdel
            a.text-small.footer__bottom-link(href="#" target="_blank" rel="nofollow") Мы в реестре Российского программного обеспечения
                svg(width="30" height="30")
                    use(xlink:href="@img/icons/icons.svg#arrow-angle")