section.section._pb0
    .container
        .section__header
            h2.section__title(data-aos="fade-up") Отзывы
            .swiper__navigations.reviews__navigations(data-aos="fade-up" data-aos-delay="100")
                button.swiper__navigation._prev.btn-reset(type="button" data-swiper-reviews-prev)
                    svg(width="111" height="16")
                        use(xlink:href="@img/icons/icons.svg#swiper-arrow-left")
                button.swiper__navigation._next.btn-reset(type="button" data-swiper-reviews-next)
                    svg(width="111" height="16")
                        use(xlink:href="@img/icons/icons.svg#swiper-arrow-left")

        .swiper._full-tablet(data-swiper-reviews)
            .swiper-wrapper
                .swiper-slide(data-aos="fade-up")
                    +reviews-item('ООО Консультант Самара', 'Вертинская Е.С.', 'Выражаем благодарность коллективу компании «ТехОтдел» за творческий и грамотный подход к работе по странице в социальной сети ВКонтакте, а именно — разработку дизайна, внесение предложений по наполнению группы и её продвижению, модерацию. Ответственность, доброжелательность, инициативность и оперативность в разрешении всех вопросов сделало наше сотрудничество приятным, плодотворным и эффективным.')
                .swiper-slide(data-aos="fade-up")
                    +reviews-item('ООО Консультант Самара', 'Вертинская Е.С.', 'Выражаем благодарность коллективу компании «ТехОтдел» за творческий и грамотный подход к работе по странице в социальной сети ВКонтакте, а именно — разработку дизайна, внесение предложений по наполнению группы и её продвижению, модерацию. Ответственность, доброжелательность, инициативность и оперативность в разрешении всех вопросов сделало наше сотрудничество приятным, плодотворным и эффективным.')
                .swiper-slide(data-aos="fade-up")
                    +reviews-item('ООО Консультант Самара', 'Вертинская Е.С.', 'Выражаем благодарность коллективу компании «ТехОтдел» за творческий и грамотный подход к работе по странице в социальной сети ВКонтакте, а именно — разработку дизайна, внесение предложений по наполнению группы и её продвижению, модерацию. Ответственность, доброжелательность, инициативность и оперативность в разрешении всех вопросов сделало наше сотрудничество приятным, плодотворным и эффективным.')
                .swiper-slide(data-aos="fade-up")
                    +reviews-item('ООО Консультант Самара', 'Вертинская Е.С.', 'Выражаем благодарность коллективу компании «ТехОтдел» за творческий и грамотный подход к работе по странице в социальной сети ВКонтакте, а именно — разработку дизайна, внесение предложений по наполнению группы и её продвижению, модерацию. Ответственность, доброжелательность, инициативность и оперативность в разрешении всех вопросов сделало наше сотрудничество приятным, плодотворным и эффективным.')