.service-banners__items
    .service-banners__item.box._dark-blue._full-mobile
        h3.service-banners__title.section__title._blue SEO-продвижение одного региона
        p.service-banners__text.text-small Самара или любой другой один регион (кроме Москвы и области)
        p.service-banners__price.service-banners__title от 35 000 ₽ в мес.
        button.btn.btn-reset._blue(type="button" data-modal="#modal-order") Обсудить проект
            svg(width="31" height="8")
                use(xlink:href="@img/icons/icons.svg#arrow-right")
        svg.service-banners__wave(width="196" height="282")
            use(xlink:href="@img/icons/icons.svg#service-banner-wave")

    .service-banners__item.box._dark-blue._full-mobile
        h3.service-banners__title.section__title._blue Москва и область, либо несколько регионов
        p.service-banners__price.service-banners__title от 50 000 ₽ в мес.
        button.btn.btn-reset._blue(type="button" data-modal="#modal-order") Обсудить проект
            svg(width="31" height="8")
                use(xlink:href="@img/icons/icons.svg#arrow-right")
        svg.service-banners__wave(width="196" height="282")
            use(xlink:href="@img/icons/icons.svg#service-banner-wave")