.swiper.box-swiper._full-tablet._hover(data-swiper-boxes)
    .swiper-wrapper
        .swiper-slide(data-aos="fade-up" data-aos-delay="50")
            +service-item('service-1', 'Комплексный маркетинг', 'Используем принцип омниканальности. Погружаемся в ваш бизнес на всех уровнях маркетинговой воронки')
        .swiper-slide(data-aos="fade-up" data-aos-delay="100")
            +service-item('service-2', 'Разработка сайтов', 'Создаём сайты под любые задачи. От быстрых лендингов до сложного e-commerce')
        .swiper-slide(data-aos="fade-up" data-aos-delay="150")
            +service-item('service-3', 'SEO-продвижение', 'Привлекаем максимум органического трафика. Параллельно работаем над юзабилити сайта')
        .swiper-slide(data-aos="fade-up" data-aos-delay="200")
            +service-item('service-4', 'Аудит сайтов', 'Исследуем сайт, расскажем, почему он не конвертит. Покажем, как достичь желаемых показателей')
        .swiper-slide(data-aos="fade-up" data-aos-delay="250")
            +service-item('service-5', 'Контекстная реклама', 'Добываем качественный рекламный трафик. Увеличиваем количество заявок')
        .swiper-slide(data-aos="fade-up" data-aos-delay="300")
            +service-item('service-6', 'Продвижение в соц. сетях', 'Продвигаем сообщества и запускаем таргетированную рекламу. Утепляем холодную аудиторию социальных сетей')
        .swiper-slide(data-aos="fade-up" data-aos-delay="350")
            +service-item('service-7', 'Разработка логотипов', 'Отражаем индивидуальность бренда в логотипе. Делаем уникальный дизайн, который привлекает внимание и повышает узнаваемость.')
        .swiper-slide(data-aos="fade-up" data-aos-delay="400")
            +service-item('service-8', 'Работа с оплатой за лиды', 'Берем оплату только за заявки — на почту или телефон. Система работает только в сочетании с сквозной аналитикой.')