extends base

block color
    - var body_classes = ''

block meta
    - var seotitle = 'Награды'
    - var seodescription = ''
    - var seokeywords = ''

block main
    main.main._inner
        section.section._small-padding
            .container
                ul.breadcrumbs.list-reset.text-gray(data-aos="fade-up")
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Главная
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") О компании
                    li.breadcrumbs__item Награды

        section
            .container
                h1.h2.section__title(data-aos="fade-up") Награды
                
                mixin awards-item 
                    .swiper-slide(data-aos="fade-up")
                        a(href="@img/tmp/award@2x.jpg" data-fancybox="awards" data-aos="fade-up")
                            picture.picture
                                source(type="image/webp" srcset="@img/tmp/award@2x.webp 2x, @img/tmp/award.webp 1x")
                                img(srcset="@img/tmp/award@2x.jpg 2x, @img/tmp/award.jpg 1x" alt="" width="410" height="580")                       

                .swiper.box-swiper._full-tablet._hover(data-swiper-boxes)
                    .swiper-wrapper 
                        +awards-item
                        +awards-item
                        +awards-item
                        +awards-item
                        +awards-item
                        +awards-item
                        +awards-item
                        +awards-item
                        +awards-item
                        +awards-item
                        +awards-item
                        +awards-item

                