extends base

block color
    - var body_classes = ''

block meta
    - var seotitle = 'Портфолио'
    - var seodescription = ''
    - var seokeywords = ''

block main
    main.main._inner
        section.section._small-padding
            .container
                ul.breadcrumbs.list-reset.text-gray(data-aos="fade-up")
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Главная
                    li.breadcrumbs__item Портфолио

        section
            .container
                h1.h2.section__title(data-aos="fade-up") Портфолио
                
                .tabs__btns.scroll._hidden(data-aos="fade-up")
                    button.btn.btn-reset.tabs__btn._red._active(type="button" data-tab="1") Сайты
                    button.btn.btn-reset.tabs__btn._red(type="button" data-tab="2") Логотипы

                .tabs__content._active(data-tab-content="1")
                    .portfolio__items
                        +portfolio-item('Экспресс-тесты производства SD BIOSENSOR', 'portfolio-item-1')
                        +portfolio-item('Спортивный клуб художественной гимнастики «Без границ»', 'portfolio-item-2')
                        +portfolio-item('ТАНИТ: студия искусственного камня', 'portfolio-item-3')
                        +portfolio-item('ТАНИТ: студия искусственного камня', 'portfolio-item-3')
                        +portfolio-item('Спортивный клуб художественной гимнастики «Без границ»', 'portfolio-item-2')
                        +portfolio-item('Экспресс-тесты производства SD BIOSENSOR', 'portfolio-item-1')
                        +portfolio-item('Экспресс-тесты производства SD BIOSENSOR', 'portfolio-item-1')
                        +portfolio-item('Спортивный клуб художественной гимнастики «Без границ»', 'portfolio-item-2')
                        +portfolio-item('ТАНИТ: студия искусственного камня', 'portfolio-item-3')
                        +portfolio-item('ТАНИТ: студия искусственного камня', 'portfolio-item-3')
                        +portfolio-item('Спортивный клуб художественной гимнастики «Без границ»', 'portfolio-item-2')
                        +portfolio-item('Экспресс-тесты производства SD BIOSENSOR', 'portfolio-item-1')
                        +portfolio-item('Экспресс-тесты производства SD BIOSENSOR', 'portfolio-item-1')
                        +portfolio-item('Спортивный клуб художественной гимнастики «Без границ»', 'portfolio-item-2')
                        +portfolio-item('ТАНИТ: студия искусственного камня', 'portfolio-item-3')
                        +portfolio-item('ТАНИТ: студия искусственного камня', 'portfolio-item-3')
                        +portfolio-item('Спортивный клуб художественной гимнастики «Без границ»', 'portfolio-item-2')
                        +portfolio-item('Экспресс-тесты производства SD BIOSENSOR', 'portfolio-item-1')
                        +portfolio-item('Экспресс-тесты производства SD BIOSENSOR', 'portfolio-item-1')
                        +portfolio-item('Спортивный клуб художественной гимнастики «Без границ»', 'portfolio-item-2')
                        +portfolio-item('ТАНИТ: студия искусственного камня', 'portfolio-item-3')

                .tabs__content(data-tab-content="2")
                    .portfolio__items
                        +portfolio-item('ТАНИТ: студия искусственного камня', 'portfolio-item-3')
                        +portfolio-item('Спортивный клуб художественной гимнастики «Без границ»', 'portfolio-item-2')
                        +portfolio-item('Экспресс-тесты производства SD BIOSENSOR', 'portfolio-item-1')
                        +portfolio-item('Экспресс-тесты производства SD BIOSENSOR', 'portfolio-item-1')
                        +portfolio-item('Спортивный клуб художественной гимнастики «Без границ»', 'portfolio-item-2')
                        +portfolio-item('ТАНИТ: студия искусственного камня', 'portfolio-item-3')

        
                