extends base

block color
    - var body_classes = ''

block meta
    - var seotitle = 'Политика конфиденциальности'
    - var seodescription = ''
    - var seokeywords = ''

block main
    main.main._inner
        section.section._small-padding
            .container
                ul.breadcrumbs.list-reset.text-gray(data-aos="fade-up")
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Главная
                    li.breadcrumbs__item Политика конфиденциальности

        section
            .container
                h1.h2.section__title(data-aos="fade-up") Политика конфиденциальности

                .text(data-aos="fade-up")
                    p Посещая сайт, вы опасаетесь, что ваши личные данные будут разглашены? Мы понимаем ваши страхи, поэтому стремимся обеспечить конфиденциальность всем пользователям.
                    p Мы не скрываем того, что собираем персональную информацию о посетителях. Но также мы гарантируем ее неразглашение.
                    p Мы соблюдаем правила нашей политики конфиденциальности. Чтобы развеять ваши опасения, мы расскажем, какая именно информация собирается, для чего и как она используется.
                    h2 Какую мы собираем информацию?
                    p Мы собираем информацию о посетителях нашего сайта при помощи сервисов Яндекс.Метрика и Callibri. Делается это для того, чтобы изучить поведение посетителей, обозначить сегменты целевой аудитории и создать удобный и полезный ресурс, где наш пользователь легко найдет всю интересующую информацию.
                    p При помощи Яндекс.Метрика и Callibri мы собираем следующие данные:
                    ul 
                        li Информацию о поисковых запросах, которые приводят вас на наш сайт;
                        li Данные о том, каким браузером вы пользуетесь, какая стоит операционная система, какое разрешение у монитора, какой тип мобильного устройства (если вы попадаете на наш сайт, используя телефон);
                        li Информацию о географическом месторасположении, половой и языковой принадлежности;
                        li Информацию о вашем поведении на сайте: времени и глубине просмотра, движениях мыши, нажатии клавиш.
                    p Помимо этого, мы анализируем и другую информацию:
                    ul 
                        li Все письма, отправляемые на нашу электронную почту, — мы обрабатываем вопросы пользователей, даём ответы;
                        li Анкеты и формы обратной связи, которые вы заполняете;
                        li Ваши персональные данные: имя, телефонный номер, если вы их указываете;
                        li Звонки, которые вы делаете нам, и которые мы делаем вам;
                        li Ваш IP;
                        li Время захода на сайт;
                        li Данные cookie.
                    p При переходе на сайт на ваш компьютер отправляются cookie — данные, позволяющие аутентифицировать пользователя, сохранить его персональные настройки, вести по нему статистику.
                    p Файлы cookie нужны для того, чтобы пользователь ощущал себя максимально комфортно. Благодаря им не приходится каждый раз вводить логин и пароль, менять настройки. Сайт автоматически подстраивается под конкретного посетителя.
                    p Если вы не хотите, чтобы на ваш компьютер отправлялись cookie, вы можете запретить браузеру получать данные файлы, изменив настройки. Однако учтите, что это может негативно отразиться на работе некоторых веб-сервисов.
                    h2 Каким образом мы используем собранную информацию?
                    p Мы обрабатываем данные пользователей в соответствии с законодательством РФ:
                    ul 
                        li Ст. 24 Конституции Российской Федерации;
                        li Ст. 6 Федерального закона №152-ФЗ «О персональных данных» и руководствуясь иными федеральными законами и нормативно-правовыми актами.
                    p Полученная информация позволяет нам:
                    ul 
                        li Создать сайт, удовлетворяющий потребности наших пользователей, при помощи усовершенствования функционала, разработки понятной навигации, размещения полезного контента, создания удобных сервисов;
                        li Определять потребности посетителей сайта на основе реакции на предлагаемую информацию и писать эффективные тексты;
                        li Предоставлять пользователям доступ к интерактивным опциям на сайте;
                        li Информировать вас об изменениях, которые касаются наших услуг;
                        li Предоставлять запрашиваемые вами данные и информацию, которая могла бы вас заинтересовать: коммерческое предложение, новости и т. д.;
                        li Улучшать качество обслуживания клиентов: предоставлять ответы на вопросы, реагировать на ваши замечания;
                        li Предоставлять услуги, которые вы заказали на нашем сайте.
                    h2 Хранение, прекращение обработки и обеспечение безопасности вашей личной информации
                    p Чтобы защитить персональные данные наших пользователей, мы используем все необходимые меры безопасности: административные, управленческие и технические. Мы соблюдаем международные стандарты защиты информации, собранной в сети Интернет.
                    p Все сотрудники, которые работают у нас, придерживаются правил в рамках политики конфиденциальности.
                    p Наш сайт гарантирует отсутствие утечки информации и ее несанкционированного изменения и использования.
                    p Несмотря на то, что мы делаем все необходимое, чтобы защитить персональные данные, вам все-таки нужно соблюдать меры предосторожности, пребывая в виртуальном пространстве.
                    p Мы не предоставляем какую-либо конфиденциальную информацию третьим лицам. Исключение составляют следующие случаи:
                    ul 
                        li Вы дали свое разрешение на разглашение персональных данных;
                        li Предоставления конфиденциальной информации потребовало законодательство РФ.
                    p Обработка персональной информации будет прекращена в следующих случаях:
                    ul
                        li Ликвидация компании ООО «ТехОтдел» как юридического лица;
                        li Пожелание владельца персональных данных.
                    p Бумажные документы, на которых зафиксированы ваши личные данные, мы храним в соответствии с Федеральным законом №125-ФЗ «Об архивном деле в Российской Федерации».
                    h2 Наша политика конфиденциальности действует только на нашем сайте
                    p Иногда на нашем сайте можно увидеть ссылки на сайты компаний, которые являются нашими партнерами или рекламодателями. Переходя по ним, вы оказываетесь на сайте, где действует собственная политика конфиденциальности, а значит, другие правила. За них мы не несем ответственности.
                    p Поэтому мы просим вас ознакомиться с этими правилами, прежде чем предоставлять свои персональные данные.
                    h2 Могут ли произойти изменения в политике конфиденциальности?
                    p Если в политике конфиденциальности произойдут изменения, на этой странице появится подробная информация. В некоторых случаях мы сообщаем об этом по электронной почте.
