extends base

block color
    - var body_classes = '_black'

block meta
    - var seotitle = 'SEO-продвижение сайтов в сфере строительства'
    - var seodescription = ''
    - var seokeywords = ''

block main
    main.main
        section.section._pt0._pb0._black._radius._radius-bottom
            section.section._small-padding._pb0
                .container
                    ul.breadcrumbs.list-reset.text-gray(data-aos="fade-up")
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="#") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="#") Услуги
                        li.breadcrumbs__item 
                            a.breadcrumbs__link(href="#") SEO-продвижение
                        li.breadcrumbs__item SEO-продвижение сайтов в сфере строительства

            +intro-seo-industry('SEO-продвижение сайтов в сфере строительства')

        section.section.service-banners._no-ovh
            .container.service-banners__container
                .text
                    p.text-big Строительная сфера является одной из самых стремительно развивающихся на данный момент.
                    p Поэтому даже при наличии в ней крупных лидеров, многие молодые предприниматели также пытаются занять определённую нишу в строительстве, организовав свой бизнес. Неудивительно, что жесткая борьба разворачивается также среди строительных сайтов — в онлайн-среде. И те, кому удаётся достичь успехов в Интернете, получают массу преимуществ.
                
                include pug/layout/_service-banners

        section.section._black._radius
            .container
                include pug/layout/_service-cases

        section.section._pb0
            .container
                h2.section__title(data-aos="fade-up") Кейсы

                .swiper.box-swiper._full-tablet._hover(data-swiper-cases)
                    .swiper-wrapper
                        .swiper-slide(data-aos="fade-up" data-aos-delay="50")
                            a.box._transparent._hover(href="#")
                                span.cases__logo
                                    svg(width="120" height="32" viewBox="0 0 120 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M17.4358 24.2114L7.1234 31.7383L11.0952 19.6047L0.75 12.1229L13.5171 12.1508L17.4358 0L21.3545 12.1508L34.1216 12.1229L23.7764 19.6047L27.7482 31.7383L17.4358 24.2114Z" fill="currentColor")
                                        path(d="M53.2188 21.3538C53.2188 20.7636 53.0104 20.3104 52.5938 19.9945C52.1771 19.6785 51.4271 19.3452 50.3438 18.9945C49.2604 18.6438 48.4028 18.2983 47.7708 17.958C46.0486 17.0274 45.1875 15.774 45.1875 14.1976C45.1875 13.3781 45.4184 12.6472 45.8802 12.0049C46.342 11.3625 47.0052 10.8608 47.8698 10.4997C48.7344 10.1386 49.7049 9.95801 50.7812 9.95801C51.8646 9.95801 52.8299 10.1542 53.6771 10.5465C54.5243 10.9389 55.1823 11.4927 55.651 12.208C56.1198 12.9233 56.3542 13.7358 56.3542 14.6455H53.2292C53.2292 13.9511 53.0104 13.4111 52.5729 13.0257C52.1354 12.6403 51.5208 12.4476 50.7292 12.4476C49.9653 12.4476 49.3715 12.609 48.9479 12.932C48.5243 13.2549 48.3125 13.6802 48.3125 14.208C48.3125 14.7011 48.5608 15.1143 49.0573 15.4476C49.5538 15.7809 50.2847 16.0934 51.25 16.3851C53.0278 16.9198 54.3229 17.583 55.1354 18.3747C55.9479 19.1663 56.3542 20.1524 56.3542 21.333C56.3542 22.6455 55.8576 23.675 54.8646 24.4215C53.8715 25.1681 52.5347 25.5413 50.8542 25.5413C49.6875 25.5413 48.625 25.3278 47.6667 24.9007C46.7083 24.4736 45.9774 23.8886 45.474 23.1455C44.9705 22.4024 44.7188 21.5413 44.7188 20.5622H47.8542C47.8542 22.2358 48.8542 23.0726 50.8542 23.0726C51.5972 23.0726 52.1771 22.9215 52.5938 22.6195C53.0104 22.3174 53.2188 21.8955 53.2188 21.3538ZM63.7145 19.9893V25.333H60.5895V10.1663H66.5062C67.6451 10.1663 68.6468 10.3747 69.5114 10.7913C70.376 11.208 71.0409 11.8 71.5062 12.5674C71.9715 13.3347 72.2041 14.208 72.2041 15.1872C72.2041 16.6733 71.6954 17.8452 70.6781 18.7028C69.6607 19.5604 68.2527 19.9893 66.4541 19.9893H63.7145ZM63.7145 17.458H66.5062C67.3326 17.458 67.9628 17.2636 68.3968 16.8747C68.8309 16.4858 69.0479 15.9302 69.0479 15.208C69.0479 14.4649 68.8291 13.8643 68.3916 13.4059C67.9541 12.9476 67.35 12.7115 66.5791 12.6976H63.7145V17.458ZM83.1791 22.208H77.6999L76.6582 25.333H73.3353L78.9812 10.1663H81.877L87.5541 25.333H84.2312L83.1791 22.208ZM78.5437 19.6768H82.3353L80.4291 13.9997L78.5437 19.6768ZM96.7061 19.7809H94.2165V25.333H91.0915V10.1663H96.7269C98.5186 10.1663 99.9005 10.5656 100.873 11.3643C101.845 12.1629 102.331 13.2913 102.331 14.7497C102.331 15.7844 102.107 16.6472 101.659 17.3382C101.211 18.0292 100.533 18.5795 99.6228 18.9893L102.904 25.1872V25.333H99.5499L96.7061 19.7809ZM94.2165 17.2497H96.7374C97.5221 17.2497 98.1297 17.05 98.5603 16.6507C98.9908 16.2514 99.2061 15.7011 99.2061 14.9997C99.2061 14.2844 99.003 13.7219 98.5967 13.3122C98.1905 12.9025 97.5672 12.6976 96.7269 12.6976H94.2165V17.2497ZM111.577 19.2497L109.952 20.9997V25.333H106.827V10.1663H109.952V17.0413L111.327 15.1559L115.191 10.1663H119.035L113.65 16.9059L119.191 25.333H115.473L111.577 19.2497Z" fill="currentColor")
                                span.box__text.text-medium Интернет-магазин товаров для отопления и водоснабжения: комбинированное SEO-продвижение
                                span.box__grow
                                    span.text-small.cases__tags
                                        span #SEO
                                        span #Кейс
                        .swiper-slide(data-aos="fade-up" data-aos-delay="150")
                            a.box._transparent._hover(href="#")
                                span.cases__logo
                                    svg(width="120" height="32" viewBox="0 0 120 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M17.4358 24.2114L7.1234 31.7383L11.0952 19.6047L0.75 12.1229L13.5171 12.1508L17.4358 0L21.3545 12.1508L34.1216 12.1229L23.7764 19.6047L27.7482 31.7383L17.4358 24.2114Z" fill="currentColor")
                                        path(d="M53.2188 21.3538C53.2188 20.7636 53.0104 20.3104 52.5938 19.9945C52.1771 19.6785 51.4271 19.3452 50.3438 18.9945C49.2604 18.6438 48.4028 18.2983 47.7708 17.958C46.0486 17.0274 45.1875 15.774 45.1875 14.1976C45.1875 13.3781 45.4184 12.6472 45.8802 12.0049C46.342 11.3625 47.0052 10.8608 47.8698 10.4997C48.7344 10.1386 49.7049 9.95801 50.7812 9.95801C51.8646 9.95801 52.8299 10.1542 53.6771 10.5465C54.5243 10.9389 55.1823 11.4927 55.651 12.208C56.1198 12.9233 56.3542 13.7358 56.3542 14.6455H53.2292C53.2292 13.9511 53.0104 13.4111 52.5729 13.0257C52.1354 12.6403 51.5208 12.4476 50.7292 12.4476C49.9653 12.4476 49.3715 12.609 48.9479 12.932C48.5243 13.2549 48.3125 13.6802 48.3125 14.208C48.3125 14.7011 48.5608 15.1143 49.0573 15.4476C49.5538 15.7809 50.2847 16.0934 51.25 16.3851C53.0278 16.9198 54.3229 17.583 55.1354 18.3747C55.9479 19.1663 56.3542 20.1524 56.3542 21.333C56.3542 22.6455 55.8576 23.675 54.8646 24.4215C53.8715 25.1681 52.5347 25.5413 50.8542 25.5413C49.6875 25.5413 48.625 25.3278 47.6667 24.9007C46.7083 24.4736 45.9774 23.8886 45.474 23.1455C44.9705 22.4024 44.7188 21.5413 44.7188 20.5622H47.8542C47.8542 22.2358 48.8542 23.0726 50.8542 23.0726C51.5972 23.0726 52.1771 22.9215 52.5938 22.6195C53.0104 22.3174 53.2188 21.8955 53.2188 21.3538ZM63.7145 19.9893V25.333H60.5895V10.1663H66.5062C67.6451 10.1663 68.6468 10.3747 69.5114 10.7913C70.376 11.208 71.0409 11.8 71.5062 12.5674C71.9715 13.3347 72.2041 14.208 72.2041 15.1872C72.2041 16.6733 71.6954 17.8452 70.6781 18.7028C69.6607 19.5604 68.2527 19.9893 66.4541 19.9893H63.7145ZM63.7145 17.458H66.5062C67.3326 17.458 67.9628 17.2636 68.3968 16.8747C68.8309 16.4858 69.0479 15.9302 69.0479 15.208C69.0479 14.4649 68.8291 13.8643 68.3916 13.4059C67.9541 12.9476 67.35 12.7115 66.5791 12.6976H63.7145V17.458ZM83.1791 22.208H77.6999L76.6582 25.333H73.3353L78.9812 10.1663H81.877L87.5541 25.333H84.2312L83.1791 22.208ZM78.5437 19.6768H82.3353L80.4291 13.9997L78.5437 19.6768ZM96.7061 19.7809H94.2165V25.333H91.0915V10.1663H96.7269C98.5186 10.1663 99.9005 10.5656 100.873 11.3643C101.845 12.1629 102.331 13.2913 102.331 14.7497C102.331 15.7844 102.107 16.6472 101.659 17.3382C101.211 18.0292 100.533 18.5795 99.6228 18.9893L102.904 25.1872V25.333H99.5499L96.7061 19.7809ZM94.2165 17.2497H96.7374C97.5221 17.2497 98.1297 17.05 98.5603 16.6507C98.9908 16.2514 99.2061 15.7011 99.2061 14.9997C99.2061 14.2844 99.003 13.7219 98.5967 13.3122C98.1905 12.9025 97.5672 12.6976 96.7269 12.6976H94.2165V17.2497ZM111.577 19.2497L109.952 20.9997V25.333H106.827V10.1663H109.952V17.0413L111.327 15.1559L115.191 10.1663H119.035L113.65 16.9059L119.191 25.333H115.473L111.577 19.2497Z" fill="currentColor")
                                span.box__text.text-medium Интернет-магазин: рост заказов в 5 раз при помощи шаблонной SEO-оптимизации
                                span.box__grow
                                    span.text-small.cases__tags
                                        span #SEO
                                        span #Кейс
                        .swiper-slide(data-aos="fade-up" data-aos-delay="150")
                            a.box._transparent._hover(href="#")
                                span.cases__logo
                                    svg(width="120" height="32" viewBox="0 0 120 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M17.4358 24.2114L7.1234 31.7383L11.0952 19.6047L0.75 12.1229L13.5171 12.1508L17.4358 0L21.3545 12.1508L34.1216 12.1229L23.7764 19.6047L27.7482 31.7383L17.4358 24.2114Z" fill="currentColor")
                                        path(d="M53.2188 21.3538C53.2188 20.7636 53.0104 20.3104 52.5938 19.9945C52.1771 19.6785 51.4271 19.3452 50.3438 18.9945C49.2604 18.6438 48.4028 18.2983 47.7708 17.958C46.0486 17.0274 45.1875 15.774 45.1875 14.1976C45.1875 13.3781 45.4184 12.6472 45.8802 12.0049C46.342 11.3625 47.0052 10.8608 47.8698 10.4997C48.7344 10.1386 49.7049 9.95801 50.7812 9.95801C51.8646 9.95801 52.8299 10.1542 53.6771 10.5465C54.5243 10.9389 55.1823 11.4927 55.651 12.208C56.1198 12.9233 56.3542 13.7358 56.3542 14.6455H53.2292C53.2292 13.9511 53.0104 13.4111 52.5729 13.0257C52.1354 12.6403 51.5208 12.4476 50.7292 12.4476C49.9653 12.4476 49.3715 12.609 48.9479 12.932C48.5243 13.2549 48.3125 13.6802 48.3125 14.208C48.3125 14.7011 48.5608 15.1143 49.0573 15.4476C49.5538 15.7809 50.2847 16.0934 51.25 16.3851C53.0278 16.9198 54.3229 17.583 55.1354 18.3747C55.9479 19.1663 56.3542 20.1524 56.3542 21.333C56.3542 22.6455 55.8576 23.675 54.8646 24.4215C53.8715 25.1681 52.5347 25.5413 50.8542 25.5413C49.6875 25.5413 48.625 25.3278 47.6667 24.9007C46.7083 24.4736 45.9774 23.8886 45.474 23.1455C44.9705 22.4024 44.7188 21.5413 44.7188 20.5622H47.8542C47.8542 22.2358 48.8542 23.0726 50.8542 23.0726C51.5972 23.0726 52.1771 22.9215 52.5938 22.6195C53.0104 22.3174 53.2188 21.8955 53.2188 21.3538ZM63.7145 19.9893V25.333H60.5895V10.1663H66.5062C67.6451 10.1663 68.6468 10.3747 69.5114 10.7913C70.376 11.208 71.0409 11.8 71.5062 12.5674C71.9715 13.3347 72.2041 14.208 72.2041 15.1872C72.2041 16.6733 71.6954 17.8452 70.6781 18.7028C69.6607 19.5604 68.2527 19.9893 66.4541 19.9893H63.7145ZM63.7145 17.458H66.5062C67.3326 17.458 67.9628 17.2636 68.3968 16.8747C68.8309 16.4858 69.0479 15.9302 69.0479 15.208C69.0479 14.4649 68.8291 13.8643 68.3916 13.4059C67.9541 12.9476 67.35 12.7115 66.5791 12.6976H63.7145V17.458ZM83.1791 22.208H77.6999L76.6582 25.333H73.3353L78.9812 10.1663H81.877L87.5541 25.333H84.2312L83.1791 22.208ZM78.5437 19.6768H82.3353L80.4291 13.9997L78.5437 19.6768ZM96.7061 19.7809H94.2165V25.333H91.0915V10.1663H96.7269C98.5186 10.1663 99.9005 10.5656 100.873 11.3643C101.845 12.1629 102.331 13.2913 102.331 14.7497C102.331 15.7844 102.107 16.6472 101.659 17.3382C101.211 18.0292 100.533 18.5795 99.6228 18.9893L102.904 25.1872V25.333H99.5499L96.7061 19.7809ZM94.2165 17.2497H96.7374C97.5221 17.2497 98.1297 17.05 98.5603 16.6507C98.9908 16.2514 99.2061 15.7011 99.2061 14.9997C99.2061 14.2844 99.003 13.7219 98.5967 13.3122C98.1905 12.9025 97.5672 12.6976 96.7269 12.6976H94.2165V17.2497ZM111.577 19.2497L109.952 20.9997V25.333H106.827V10.1663H109.952V17.0413L111.327 15.1559L115.191 10.1663H119.035L113.65 16.9059L119.191 25.333H115.473L111.577 19.2497Z" fill="currentColor")
                                span.box__text.text-medium Страница просканирована, но не проиндексирована — борьба за индексацию сайта в Google
                                span.box__grow
                                    span.text-small.cases__tags
                                        span #SEO
                                        span #Кейс

        section.section._pb0
            .container
                h2.section__title(data-aos="fade-up") Рекомендации
                .section._small-padding._pt0.text(data-aos="fade-up")
                    p Чтобы молодой веб-ресурс смог соперничать с качественными строительными сайтами, необходимо приложить немало усилий. Однако это возможно, если действовать со знанием дела. Вот некоторые требования к сайтам строительной тематики.
                .swiper.box-swiper._full-tablet(data-swiper-boxes)
                    .swiper-wrapper
                        .swiper-slide(data-aos="fade-up" data-aos-delay="50")
                            +seo-pluses('seo-pluses-1', 
                                'Навигация',
                                'Пользователи, которые интересуются строительными компаниями в Сети, обычно внимательно изучают их сайты, поэтому необходимо, чтобы посетители могли легко в них ориентироваться и находить нужную информацию.',
                                '_red')
                        .swiper-slide(data-aos="fade-up" data-aos-delay="100")
                            +seo-pluses('seo-pluses-2', 
                                'Контент',
                                'Желательно, чтобы основные блоки информации были написаны не наёмным копирайтером, а хорошим экспертом, разбирающимся в соответствующей сфере. Статьи на ресурсе должны иметь полезное и актуальное содержание, в том числе детальное описание преимуществ компании. Также большим плюсом будут постоянно обновляемые новости на странице строительной организации. В данном разделе могут освещаться общие события на рынке и, что самое главное, размещаться информация о том, что происходит в самой фирме и как она развивается. Таким образом будет видно, что она функционирует, а это может повлиять на принятие решения потенциальным клиентом.',
                                '_black')
                        .swiper-slide(data-aos="fade-up" data-aos-delay="150")
                            +seo-pluses('seo-pluses-3', 
                                'Элементы, способные повысить доверие к организации',
                                'Они очень важны для строительной сферы, и, кроме новостей, в этом могут помочь соответствующие сертификаты, раздел с отзывами (конечно, если он будет «живой»), данные о партнёрах и др.',
                                '_red')
                        .swiper-slide(data-aos="fade-up" data-aos-delay="200")
                            +seo-pluses('seo-pluses-4',
                                'Графическое наполнение',
                                'Сам по себе дизайн должен быть на хорошем уровне, необходимо добавить на сайт качественные фото офиса, объектов, материалов и т. д.',
                                '_black')       
                
                .section._small-padding._pb0.text(data-aos="fade-up")
                    p Кроме того, должна быть предусмотрена мобильная адаптация, т.к. современные пользователи всё чаще пользуются смартфонами при просмотре сайтов, в том числе строительной тематики.
                    p Помимо содержимого важно уделить внимание грамотной SEO-оптимизации — в случае строительных сайтов оптимизируются все основные страницы оказываемых услуг и реализуемых товаров, даже если их сотни и тысячи.
                    p Немаловажным будет присвоение региональности строительному сайту для продвижения по геозависимым запросам (Яндекс Вебмастер, регистрация в Яндекс и Google-картах). В случае если вы предлагаете товары и услуги на всю Россию эффективно будет задействовать систему региональных поддоменов.
                    p Специалисты компании «ТехОтдел» уже несколько лет занимаются оптимизацией сайтов строительной тематики и готовы помочь вам в продвижении вашего бизнеса!
